#/etc/systemd/system/disable-turbo-boost.service
[Unit]
Description=Disable Intel Turbo Boost
After=systemd-modules-load.service
Wants=systemd-modules-load.service
ConditionPathExists=/sys/devices/system/cpu/intel_pstate/no_turbo

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo 1 > /sys/devices/system/cpu/intel_pstate/no_turbo'
ExecStop=/bin/sh -c 'echo 0 > /sys/devices/system/cpu/intel_pstate/no_turbo'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
