/etc/systemd/system/backup-home.service
[Unit]
Description=Backup Home Directory with Borg
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/backup-home.sh
