#/etc/systemd/system/backup-home.timer
[Unit]
Description=Run Home Backup Daily

[Timer]
OnCalendar=monthly
Persistent=true
AccuracySec=1h

[Install]
WantedBy=timers.target
