/etc/systemd/system/backup-home.service
[Unit]
Description=Backup Home Directory with Borg
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=1001
ExecStart=/usr/local/bin/backup-home.bash
StandardOutput=journal
StandardError=journal
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
